:root {
  --accent-color: #800000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

{
  font-style: italic;
  color: var(--accent-color);
}

h1 
{
  font-size: 150%;
}

h2 {
  font-size: 130%;
  color: var(--accent-color);
}
.large {
  font-size: 125%;
}
h3 
{
  font-size: 105%;
}


